/*mat-toolbar {
    background: #004a9f;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002bc5;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;

    border-radius: 10px;
}


mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}

mat-icon {
    margin-right: 8px;
}*/
* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}




.mat-toolbar {
    background-color: #ff0066;
    height: 30px;

}



.heading h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    color: white;
    letter-spacing: 3px;
}

.mat-toolbar-row h4 {
    font-size: 20px;
    color: white;
}

.mat-toolbar .mat-button {
    margin-top: 2px;
}

.mat-toolbar .mat-icon {
    color: white;
    margin-bottom: 100px;

}

.mat-sidenav-container {


    height: 85%;


}










form {
    margin: 0;

}






.mat-sidenav {
    width: 300px;
    background-color: white;
}






.mat-sidenav-container .profile {

    align-items: center;
    display: flex;
}

.mat-sidenav-container .profile img {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-left: 2%;
    margin-right: 10px;
    padding-top: 2%;

}

.mat-sidenav-container .profile h3 {
    color: black;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;


}

.mat-sidenav-container ul li a {
    display: block;
    padding: 3px 30px;
    color: black;
}

.mat-sidenav-container .bottom-content {
    position: absolute;
    bottom: 0;

}

.mat-sidenav-container .bottom-content ul li a {
    display: block;

    color: black;
}

.mat-sidenav-container ul li i {
    margin-right: 16px;
}

.mat-sidenav-content .home-content {
    position: relative;
    padding-top: 30px;
}

.home-content .overview-boxes {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 40px;
}

.home-content .overview-boxes .box {
    width: calc(100% /5 - 15px);
    padding: 20px;
    background: #fff;

    border-radius: 5px;
    box-shadow: 0 1px 2px;
}

.home-content .overview-boxes .box_topic {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 50px;

}

.home-content .overview-boxes .number {
    font-size: 40px;
    font-weight: 500;
    margin-top: -5px;
    display: inline-block;
    display: flex;


}




.mat-sidenav-content table {
    width: 100%;
    table-layout: fixed;



}

.mat-sidenav-content table th {
    background-color: #fff;
    padding-bottom: 20px;
    border: 1px solid black;
    font-size: 15px;
    padding-left: 1px;

}

.mat-sidenav-content table td {
    background-color: #fff;
    padding: 20px;

}

.mat-sidenav-content table td i {
    padding: 3px;
    font-size: 20px;
    color: black;
}

.mat-sidenav-content table th i {
    padding-left: 20px;
    font-size: 12px;
}