<mat-toolbar>
  <mat-toolbar-row>
    <button mat-button (click)="opened=!opened">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
  <div class="heading">
    <h1>UNEEKLI</h1>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="over">
    <div class="profile">
      <img src="assets/default.png">
      <h3>Hello, Surya</h3>
    </div>
    <hr style="margin-top: 5px;color:black;">
    <ul>
      <li><a href="#"><span class="icon"><i class="fa fa-sticky-note"></i></span>
          <span class=" item">Customize View</span></a></li>
      <li><a href="#"><span class="icon"><i class="fa fa-filter"></i></span><span class="item">Filter
            Results</span></a></li>
      <li><a href="#"><span class="icon"><i class="fa fa-download"></i></span><span class="item">Download
            CSV</span></a></li>
      <li><a href="#"><span class="icon"><i class="fa fa-key"></i></span><span class="item">Keyword
            Cloud</span></a></li>
      <li><a href="#"><span class="icon"><i class="fa fa-line-chart"></i></span><span class="item">Search
            Trends</span></a></li>
      <li><a href="#"><span class="icon"><i class="fa fa-file-image-o"></i></span><span class="item">Download
            Screenshot</span></a></li>
    </ul>

    <div class="bottom-content">
      <hr style="margin-top: 20px;color:black;">
      <ul>
        <li><a href="#"><span class="icon"><i class="fa fa-question-circle-o"></i></span><span
              class="item">Help</span></a>
        </li>
        <li><a href="#"><span class="icon"><i class="fa fa-cogs"></i></span><span class="item">Account
              Settings</span></a></li>
        <li><a href="#"><span class="icon"><i class="fa fa-sign-out"></i></span><span class="item">Log
              Out</span></a></li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="left-side">
            <div class="box_topic">Avearge Monthly Sales</div>
            <div class="number">235</div>

          </div>
        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic">Avearge Sales Rank</div>
            <div class="number">270,483</div>

          </div>

        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic">Avearge Price</div>
            <div class="number">6472.45</div>

          </div>
        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic">Avearge Rating Number</div>
            <div class="number">38273</div>

          </div>
        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic" style="padding-bottom:0px ;">Opportunity Score</div>
            <div class="number">
              <div style="border: 3px solid palevioletred; border-radius: 50px; display: flex; width: 20%;
              justify-content: center; padding: 10px; font-size: 24px; ">
                5
              </div>
              <h2 style="padding-left: 10px;font-weight: 20px;">High Demand</h2><br>

            </div>


          </div>
        </div>
      </div>
    </div>
    <br>

    <body>
      <table>

        <tr>
          <th style="font-size: 40px; color: palevioletred; padding-left: 15px;"># <i class="fa fa-caret-up"
              aria-hidden="true " style="font-size: 40px;"></i>
          </th>
          <th>Actions</th>
          <th>Product Name <i class="fa fa-arrows-v" aria-hidden="true"></i> </th>
          <th>Brand <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left:70px ;"></i></th>
          <th>Price <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left:80px ;"></i></th>
          <th>MO. Sales <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left:50px ;"></i></th>
          <th>D. Sales <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left: 60px;"></i></th>
          <th>MO. <br>Revenue <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left: 60px;"></i></th>
          <th>Date First <br>Available <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left:60px ;"></i>
          </th>
          <th>Net</th>
        </tr>
        <tr>
          <td>1</td>
          <td><i class="fa fa-plus-circle" aria-hidden="true"></i>
            <i class="fa fa-key" aria-hidden="true"></i>
            <i class="fa fa-tag" aria-hidden="true"></i>
          </td>
          <td><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO
          </td>
          <td>Camoro</td>
          <td>$14.00</td>
          <td>134</td>
          <td>134</td>
          <td>134</td>
          <td>21-06-2022</td>
          <td>$90</td>
        </tr>
        <tr>
          <td>2</td>
          <td><i class="fa fa-plus-circle" aria-hidden="true"></i>
            <i class="fa fa-key" aria-hidden="true"></i>
            <i class="fa fa-tag" aria-hidden="true"></i>
          </td>
          <td><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO
          </td>
          <td>Camoro</td>
          <td>$14.00</td>
          <td>134</td>
          <td>134</td>
          <td>134</td>
          <td>21-06-2022</td>
          <td>$90</td>
        </tr>
        <tr>
          <td>3</td>
          <td><i class="fa fa-plus-circle" aria-hidden="true"></i>
            <i class="fa fa-key" aria-hidden="true"></i>
            <i class="fa fa-tag" aria-hidden="true"></i>
          </td>
          <td><img src="assets/mobile.jpg" style="height:40px ; width:30px; ">
            POCO
          </td>
          <td>Camoro</td>
          <td>$14.00</td>
          <td>134</td>
          <td>134</td>
          <td>134</td>
          <td>21-06-2022</td>
          <td>$90</td>
        </tr>
        <tr>
          <td>4</td>
          <td><i class="fa fa-plus-circle" aria-hidden="true"></i>
            <i class="fa fa-key" aria-hidden="true"></i>
            <i class="fa fa-tag" aria-hidden="true"></i>
          </td>
          <td><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO
          </td>
          <td>Camoro</td>
          <td>$14.00</td>
          <td>134</td>
          <td>134</td>
          <td>134</td>
          <td>21-06-2022</td>
          <td>$90</td>
        </tr>
        <tr>
          <td>5</td>
          <td><i class="fa fa-plus-circle" aria-hidden="true"></i>
            <i class="fa fa-key" aria-hidden="true"></i>
            <i class="fa fa-tag" aria-hidden="true"></i>
          </td>
          <td><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO
          </td>
          <td>Camoro</td>
          <td>$14.00</td>
          <td>134</td>
          <td>134</td>
          <td>134</td>
          <td>21-06-2022</td>
          <td>$90</td>
        </tr>

      </table>
    </body>


  </mat-sidenav-content>
</mat-sidenav-container>